/* General page styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
}

/* Navbar */
nav {
  background-color: #3f3f3f;
  color: white;
  padding: 10px;
}

nav a {
  color: rgb(243, 239, 239);
  margin-right: 15px;
  text-decoration: none;
}

/* Profile section */
.profile {
  text-align: center;
  margin: 20px;
}

.profile img {
  width: 150px;
  border-radius: 50%;
}

/* Footer */
footer {
  background-color: #2c2b2b;
  color: rgb(20, 20, 20);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.project-image {
  width: 100%;      /* konteynerin genişliyinə uyğun olsun */
  max-width: 600px; /* maksimum genişlik */
  height: auto;     /* nisbəti saxlasın */
  display: block;
  margin: 15px 0;
  border-radius: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

footer {
  background-color: #2c2b2b;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer a {
  color: white;
  margin: 0 8px;
}
